* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  overflow-x: hidden;
}

body {
  background: url(../src/assets/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Home  */

#HomeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  color: white;
  font-size: 2.5rem;
  background: black;
  padding: 1.2rem;
  border-radius: 30px;
  box-shadow: 0px 0px 16px 7px #ffffff54;
}

.btn:hover {
  color: black;
  background: white;
}

/* NavBar  */

#Nav {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

#Nav .btn {
  padding: 1rem;
  box-shadow: none;
}

/* NasaPhoto  */
#headText {
  color: yellow;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

#NasaPhoto {
  text-align: center;
  background: wheat;
  display: grid;
  grid-template-columns: auto auto;
  margin: 2rem 5rem 5rem 5rem;
}

@media (max-width: 1360px) {
  #NasaPhoto {
    display: block;
    margin: 1rem 0 0 0;
  }
}

#NasaPhoto img {
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
}

#NasaPhoto h1 {
  margin: 4rem 0 2rem 0;
}

#NasaPhoto .photo_date {
  text-align: end;
  margin-right: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
}

#NasaPhoto .photo_explanation {
  margin: 3rem 2rem;
  text-align: justify;
}
